### list comprehension

In [2]:
result = []
for i in range(10):
    result.append(i)
    
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
word1 = "hello"
word2 = "world"

result = [i+j for i in word1 for j in word2]
result

['hw',
 'ho',
 'hr',
 'hl',
 'hd',
 'ew',
 'eo',
 'er',
 'el',
 'ed',
 'lw',
 'lo',
 'lr',
 'll',
 'ld',
 'lw',
 'lo',
 'lr',
 'll',
 'ld',
 'ow',
 'oo',
 'or',
 'ol',
 'od']

### enumerate & zip

- enumerate : list의 element를 추출할 때 번호를 붙여서 추출
- zip : 두 개의 list의 값을 병렬적으로 추출

In [6]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [7]:
mylist = ['a','b','c','d']
list(enumerate(mylist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [8]:
{i:j for i,j in enumerate("Artificial intelligence (AI), is intelligence demonstrated by machines, unlike the natural intelligence displayed by humans and animals.".split())}

{0: 'Artificial',
 1: 'intelligence',
 2: '(AI),',
 3: 'is',
 4: 'intelligence',
 5: 'demonstrated',
 6: 'by',
 7: 'machines,',
 8: 'unlike',
 9: 'the',
 10: 'natural',
 11: 'intelligence',
 12: 'displayed',
 13: 'by',
 14: 'humans',
 15: 'and',
 16: 'animals.'}

In [10]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a,b in zip(alist, blist): #병렬적으로 값을 추출
    print(a,b)

a1 b1
a2 b2
a3 b3

In [11]:
result ={a:b for a,b in zip(alist, blist)}
result

{'a1': 'b1', 'a2': 'b2', 'a3': 'b3'}

In [12]:
for i,(a, b) in enumerate(zip(alist, blist)):
    print (i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

- lambda : 함수처럼 쓸 수 있는 익명함수
- map
- reduce

In [13]:
def f(x,y):
    return x + y

print(f(1, 4))

5

In [14]:
f = lambda x, y: x+y
print(f(1,4))

5

In [16]:
f = lambda x: x/2
print(f(3))

1.5

### 가변인자

- 개수가 정해지지 않은 변수를 함수의 파라미터로 사용
- 입력된 값은 튜플로 사용 가능

In [17]:
def asterisk_test(a,b,*args):
    return a+b+sum(args)

print(asterisk_test(1,2,3,4,5))

15

In [18]:
def asterisk_test2(*args):
    x,y,z = args
    return x,y,z

print(asterisk_test2(3,4,5))

(3, 4, 5)

**kwargs는 키워드 인자(keyword arguments)를 딕셔너리로 받는다는 뜻

In [19]:
def kwargs_test_1(**kwargs):
    print(kwargs)
    
def kwargs_test_2(**kwargs):
    print(kwargs)
    print("First value is {first}".format(**kwargs))
    print("Second value is {second}".format(**kwargs))
    print("Third value is {third}".format(**kwargs))

In [ ]:
kwargs_test_1(x=10, y=20)
# 출력: {'x': 10, 'y': 20}

{'x': 10, 'y': 20}

In [23]:
kwargs_test_2(first='apple', second='banana', third='cherry')

{'first': 'apple', 'second': 'banana', 'third': 'cherry'}
First value is apple
Second value is banana
Third value is cherry

In [25]:
kwargs_test_1(a=10, b=20)

{'a': 10, 'b': 20}